<!DOCTYPE html>
<html>
    
    <head>
    <title>Amherst Datamatch v3</title>
    <link rel=stylesheet type=text/css href="../static/stylesheet.css">
    </head>
        <body>
            <form id="myForm">
                <h2>Amherst Datamatch</h2>
                <br>
                <div id="test">
                    <h3> Congratulations!   You will soon be notified about your match </h3>

                    <br>
                    <br>
                    <img src = "../static/tiger_nuzzle.jpg" alt = "tiger_nuzzle"/>
                </div>
                </form>
            
                   
        </body>
</html>