<!DOCTYPE html>
<html>
    
    <head>
    <title>Amherst Datamatch v3</title>
    <link rel=stylesheet type=text/css href="../static/stylesheet.css">
    </head>
        <body>
            <form method = "post" action="/completed">
            <form id="myForm">
                <h2>Amherst Datamatch</h2>
                <br>
                <div id="test">
                    <h4>Full name: <input class="participant" type="text" name="name"></h4>
                    <h4>Amherst email: <input class="participant" type="text" name="email" placeholder = "Ex: jdoe18@amherst.edu"></h4>
                    <h4>Phone number: (optional): <input class="participant" type="text" name="phone"></h4>
                    <h4>Class:</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="class" value="2018" checked="checked">  2018<br></li>
                    <li><input type="radio" name="class" value="2017">  2017<br></li>
                    <li><input type="radio" name="class" value="2016">  2016<br></li>
                    <li><input type="radio" name="class" value="2015">  2015<br></li>
                    </ul>
                    <h4>I identify as a...</h4>         <!-- questions written in h4-->
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="am-gender" value="male">  Male<br></li>
                    <li><input type="radio" name="am-gender" value="female">  Female<br></li>
                    <li><input type="radio" name="am-gender" value="non-binary">  Non-binary<br></li>
                    </ul>
                    <h4>I am open to seeking...</h4>    <!-- questions written in h4-->
                    <ul style="list-style-type: none;">
                    <li><input type="checkbox" name="seeking" value="male">  Male<br></li>
                    <li><input type="checkbox" name="seeking" value="female">  Female<br></li>
                    <li><input type="checkbox" name="seeking" value="non-binary">  Non-binary<br></li>
                    </ul>
                </div>
                <div>
                    <h4>1. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="one" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="one" value="b">  B<br></li>
                    <li><input type="radio" name="one" value="c">  C<br></li>
                    <li><input type="radio" name="one" value="d">  D<br></li>
                    </ul>
                    <h4>2. What's your go-to Val meal?</h4>
                     <ul style="list-style-type: none;">
                    <li><input type="radio" name="two" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="two" value="b">  B<br></li>
                    <li><input type="radio" name="two" value="c">  C<br></li>
                    <li><input type="radio" name="two" value="d">  D<br></li>
                    </ul>
                    <h4>3. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="three" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="three" value="b">  B<br></li>
                    <li><input type="radio" name="three" value="c">  C<br></li>
                    <li><input type="radio" name="three" value="d">  D<br></li>
                    </ul>
                    <h4>4. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="four" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="four" value="b">  B<br></li>
                    <li><input type="radio" name="four" value="c">  C<br></li>
                    <li><input type="radio" name="four" value="d">  D<br></li>
                    </ul>
                    <h4>5. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="five" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="five" value="b">  B<br></li>
                    <li><input type="radio" name="five" value="c">  C<br></li>
                    <li><input type="radio" name="five" value="d">  D<br></li>
                    </ul>
                    <h4>6. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="six" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="six" value="b">  B<br></li>
                    <li><input type="radio" name="six" value="c">  C<br></li>
                    <li><input type="radio" name="six" value="d">  D<br></li>
                    </ul>
                    <h4>7. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="seven" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="seven" value="b">  B<br></li>
                    <li><input type="radio" name="seven" value="c">  C<br></li>
                    <li><input type="radio" name="seven" value="d">  D<br></li>
                    </ul>
                    <h4>8. What's your go-to Val meal?</h4>
                    <ul style="list-style-type: none;">
                    <li><input type="radio" name="eight" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="eight" value="b">  B<br></li>
                    <li><input type="radio" name="eight" value="c">  C<br></li>
                    <li><input type="radio" name="eight" value="d">  D<br></li>
                    </ul>                    
                    <h4>9. What's your go-to Val meal?</h4>
                     <ul style="list-style-type: none;">
                    <li><input type="radio" name="nine" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="nine" value="b">  B<br></li>
                    <li><input type="radio" name="nine" value="c">  C<br></li>
                    <li><input type="radio" name="nine" value="d">  D<br></li>
                    </ul>
                    <h4>10. What's your go-to Val meal?</h4>
                     <ul style="list-style-type: none;">
                    <li><input type="radio" name="ten" value="a" checked="checked">  A<br></li>
                    <li><input type="radio" name="ten" value="b">  B<br></li>
                    <li><input type="radio" name="ten" value="c">  C<br></li>
                    <li><input type="radio" name="ten" value="d">  D<br></li>
                    </ul>
                    <input type="submit" value="Submit">
                </div>
                </form>
            
                   
        </body>
</html>